.title-container {
  margin: 5em;
}

.title-background {
  color: var(--grey);
  font-size: 6rem;
  font-weight: 800;
}

.title-foreground {
  position: relative;
  top: -73px;
  left: 5px;
  color: var(--white);
  font-size: 3rem;
  font-weight: 800;
}

@media screen and (max-width: 700px) {
  .title-background {
    text-align: center;
  }

  .title-foreground {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .title-background {
    display: none;
  }

  .title-foreground {
    margin-top: 5em;
  }
}
