#infos-container {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  height: 80%;
  width: 70%;
  /* border: 3px yellowgreen solid; */
}

.info-wrapper {
  display: flex;
  width: 100%;
  /* border: 3px blue solid; */
  z-index: 40;
  align-items: center;
  gap: 4em;

  opacity: 0;

  animation: flyInFromLeft linear;
  animation-fill-mode: forwards;
  animation-timeline: view();
  animation-range-start: 200px;
  animation-range-end: 500px;
}

.info-wrapper p {
  display: flex;
  align-items: center;
  color: var(--white);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(40, 40, 40, 0.592) 83%
  );
  backdrop-filter: blur(2px);
  height: 100%;
  width: 70%;
  padding: 10px 30px;
  font-size: 2rem;
  font-weight: 200;
  border-radius: 20px;
}

.info-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;

  height: 200px;
  color: var(--medium-blue);
  border: 15px solid var(--dark-blue);
  border-radius: 50%;
  font-size: 7rem;
  font-weight: 500;
}

@media screen and (max-width: 1400px) {
  .info-wrapper {
    position: relative;
    left: 50px;
    width: 120%;
  }

  .info-number {
    width: 150px;
    height: 150px;
    font-size: 4rem;
  }

  #infos-container {
    top: 100px;
  }
}

/* */

@media screen and (max-width: 900px) {
  #infos-container {
    position: relative;
    align-items: center;
  }
  .info-wrapper {
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .info-wrapper p {
    text-align: start;
    width: 100%;
  }

  .info-wrapper {
    position: relative;
    left: 0px;
  }
}

/*Animations */

@keyframes flyInFromLeft {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
