#about {
  margin-bottom: 200px;
}

#about-quote-wrapper {
  display: flex;
  justify-content: center;
}

#about-quote {
  font-size: 4.25rem;
  text-align: center;
  font-weight: 500;
  font-style: italic;
  width: 90%;
  margin-bottom: 2em;

  background: linear-gradient(
    90deg,
    var(--light-blue) 0%,
    var(--dark-blue) 83%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: fadeIn linear;
  animation-timeline: view();
  animation-range-start: 1px;
  animation-range-end: 500px;
}

#about-info-wrapper {
  position: relative;
  width: 90%;
  /* border: 2px solid red; */
  margin: 30px auto;
}

#about-image-wrapper {
  position: relative;
  top: 0;
  right: -60%;
  width: 40%;
  height: 40%;
  border-radius: 6em;
  overflow: hidden;
  filter: drop-shadow(16px 16px 100px rgb(0, 0, 0));

  animation: fadeIn linear;
  animation-timeline: view();
  animation-range-start: 10px;
  animation-range-end: 1000px;
}

#about-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
}

#about-resume {
  display: flex;
  justify-content: center;
  color: var(--medium-blue);
  font-size: 2.5rem;
  font-weight: 700;
  width: 100%;
  margin: 50px 0px;
  text-decoration: none;
}

#about-resume:hover {
  color: var(--dark-blue);
}

@media screen and (max-width: 1400px) {
  #about-image-wrapper {
    height: 1000px;
  }
}

@media screen and (max-width: 900px) {
  #about-image-wrapper {
    width: 80%;
    overflow: hidden;
  }

  #about-image-wrapper {
    right: -30%;
  }

  #about-resume {
    margin: 200px auto;
  }
}

@media screen and (max-width: 700px) {
  #about {
    margin-bottom: 400px;
  }

  #about-quote {
    font-size: 2.5rem;
  }

  #about-image-wrapper {
    width: 80%;
    height: 400px;
    right: -10%;
  }
}
