#nav-wrapper {
  position: absolute;
  top: 40px;
  width: 97%;
  display: flex;
  justify-content: center;
}

#nav-hamburger {
  display: none;
}

#nav-container {
  position: relative;
  width: 80vw;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  z-index: 10;
  flex-wrap: wrap;
}

.nav-link {
  text-decoration: none;
  list-style-type: none;
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--white);
}

.nav-link:hover {
  background: linear-gradient(
    90deg,
    var(--light-blue) 0%,
    var(--dark-blue) 83%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 1.8rem;
  cursor: pointer;
}

#hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 80%;
  height: 100vh;
  color: white;
  z-index: 20;
}

#close-button {
  display: none;
}

@media screen and (max-width: 900px) {
  #close-button.hamburger-active {
    position: absolute;
    right: 10%;
    top: 3%;
    display: block;
    color: white;
    font-size: 2rem;
  }

  #nav-container {
    display: none;
  }

  #nav-wrapper.hamburger-active {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.398);
    height: 100vh;
    z-index: 30;
  }

  #nav-container.hamburger-active {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 80%;
    justify-content: space-around;
  }

  #nav-hamburger {
    display: block;
    position: absolute;
    left: 10vw;
    top: 3vh;
    z-index: 10;
    color: var(--dark-blue);
    font-size: 4rem;
  }

  #nav-hamburger.hamburger-active {
    display: none;
  }
}

#nav-container {
  animation: fadeIn ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
