@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  margin: 0;
  padding: 0;
  --bg-color: #323232;
  --grey: #545252;
  --white: #ffff;
  --light-blue: #99e0ff;
  --dark-blue: #00b2ff;
  --medium-blue: #1cbbff;

  font-family: "Montserrat", sans-serif;
}

body {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    var(--medium-blue) 0%,
    var(--dark-blue) 83%
  );
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-blue);
}
